<div class="container">
    {{> header-nav}}
    <div class="container__page container__error-page">
        <div class="error">
            <h1 class="title title__404">404</h1>
            <h2 class="title title__404__message">Sorry,</h2>
            <br>
            <p class="title title__404__message_small">We could not find what you're looking for</p>
        </div>
        {{#if weather}}
        <p>While you're here, we have the weather for Gent tomorrow:</p>
        <div>
            {{ weather }}
        </div>
        {{/if}}
    </div>
</div>