<div class="container">
    {{> header-nav}}
    <div class="container__page container__error-page">
        <div class="error">
            <h1 class="title title__404">404</h1>
            <h2 class="title title__404__message">Sorry,</h2>
            <br>
            <p class="title title__404__message_small">We could not find what you're looking for</p>
        </div>
        {{#if weather}}
        <p>While you're here,</p>
        <h3>Weather for gent</h3>
        <h1>Tomorrow</h1>
        <h2>{{weather.temp}}°C</h2>
        <p>{{weather.description}}</p>
        {{/if}}
    </div>
</div>