<div class="container">
    {{#if kotbaas}}
    {{> header-nav-kotbaas}}
    {{else}}
    {{> header-nav-student}}
    {{/if}}
    <div class="container__page container__error-page">
        <div class="404">
            <h1 class="title">Page not found</h1>
            <div class="error">
                <h2 class="title title__404__message">Sorry,</h2>
                <p class="title__404__message_small">We could not find what you're looking for</p>
            </div>
        </div>
        {{#if weather}}
        <div class="weather">
            <p>While you're here we have the weather for</p>
            <h1>Tomorrow</h1>
            <p>in Gent</p>
            <p>{{weather.description}}</p>
            <h1 class="title">{{weather.temp}}°C</h1>
        </div>
        {{/if}}
    </div>
</div>