{{> header }}
<div class="page about">
  <h1>This is about us, the company {{name}}!</h1>
  <div class="body">
    This is the about page.<br>
    Go to <a href="/" data-path>Home page</a>
  </div>
</div>
{{> footer }}