{{> header }}
<div class="page home">
  <h1>Hello, {{user}}!</h1>
  <div class="body">
    This is Home page.<br>
    Go to <a href="/about" data-path>About page</a><br />
    Go to <a href="/firebase" data-path>Firebase example page</a><br />
    Go to <a href="/mapbox" data-path>Mapbox example page</a><br />
  </div>
</div>
{{> footer }}
