<div class="container">
  {{> header-info }}
  <div class="header__background_cirlce"></div>
  <div class="container__page home__container">
    <div class="home__header">
      <h1 class="title home__header__greet">
        Welcome,<br>
        {{#if kotbaas}}
        kotbaas<br>
        <ion-icon name="person" size="large"></ion-icon>
        {{else}}
        student<br>
        <ion-icon name="school" size="large"></ion-icon>
        {{/if}}
      </h1>
      <div class="home__options">
        <button class="btn btn__settings">
          <ion-icon name="settings" size="large"></ion-icon>
        </button>
        <button class="btn btn__sign-out">
          <ion-icon name="log-out" size="large"></ion-icon>
        </button>
      </div>
    </div>
    <p class="home__info">
      Good to see you, <br>
      Where can we take you?
    </p>

    <nav class="home__nav">
      {{#if kotbaas}}
      <div class="home__nav__item">
        <a class="home__nav__link" href="/mijn-koten" data-navigo>
          <ion-icon name="business" size="large"></ion-icon>
          <h1 class="home__nav__link-text">Mijn koten</h1>
        </a>
      </div>
      <div class="home__nav__item">
        <a class="home__nav__link" href="/kot-toevoegen" data-navigo>
          <ion-icon name="add" size="large"></ion-icon>
          <h1 class="home__nav__link-text">Nieuw kot</h1>
        </a>
      </div>
      {{else}}
      <div class="home__nav__item">
        <a class="home__nav__link" href="/favourites" data-navigo>
          <ion-icon name="star" size="large"></ion-icon>
          <h1 class="home__nav__link-text">Favorieten</h1>
        </a>
      </div>
      <div class="home__nav__item">
        <a class="home__nav__link" href="/zoek-kot" data-navigo>
          <ion-icon name="search" size="large"></ion-icon>
          <h1 class="home__nav__link-text">Koten </h1>
        </a>
      </div>
      {{/if}}
      <div class="home__nav__item">
        <a class="home__nav__link" href="/mapbox" data-navigo>
          <ion-icon name="pin" size="large"></ion-icon>
          <h1 class="home__nav__link-text">Kotenkaart</h1>
        </a>
      </div>
      <div class="home__nav__item">
        <a class="home__nav__link " href="/messages" data-navigo>
          <ion-icon name="text" size="large"></ion-icon>
          <h1 class="home__nav__link-text">Berichten</h1>
        </a>
      </div>
    </nav>
  </div>
</div>