{{> header-nav }}
<div class="container">
    <div class="container__page kot-toevoegen__container">
        <h1>Kot toevoegen</h1>
        <div class="kot__add">
            <input type="text" class="kot__name__input" value="Titel">
            <div class="kot__add__address">
                <input type="text" class="kot__street__input" value="Straatnaam">
                <input type="text" class="kot__street-number__input" value="Huisnummer">
                <input type="text" class="kot__city__input" value="Stad">
            </div>
            <input type="text" class="kot__status__input" value="Status">
            <input type="text" class="kot__warranty__input" value="Waarborg">
            <input type="text" class="kot__floor__input" value="Verdieping">
            <input type="text" class="kot__has-toilet__input" value="Toilet aanwezig?">
            <input type="text" class="kot__has-kitchen__input" value="Keuken aanwezig?">
            <input type="text" class="kot__has-shower__input" value="Douche aanwezig?">
            <input type="text" class="kot__has-furniture__input" value="Bemeubeld?">
            <input type="text" class="kot__total-price__input" value="Totale Prijs">
            <input type="text" class="kot__type__input" value="Type">
            <input type="text" class="kot__surface__input" value="Oppervlakte">
        </div>
    </div>
</div>