{{> header-nav }}
<div class="container">
    <div class="container__page kot-toevoegen__container">
        <h1>Kot toevoegen</h1>
        <form class="kot__add">
            <h1 class="kot__add__message">Vul de velden in om een kot toe te voegen</h1>
            <label class="kot__add__label" for="">Titel</label>
            <input type="text" class="kot__name__input" placeholder="Titel" required>
            <div class="kot__add__address">
                <label class="kot__add__label" for="">Straatnaam</label>
                <input type="text" class="kot__street__input" placeholder="Straatnaam" required>
                <label class="kot__add__label" for="">Huisnummer</label>
                <input type="text" class="kot__street-number__input" placeholder="Huisnummer" required>
                <label class="kot__add__label" for="">Stad</label>
                <input type="text" class="kot__city__input" placeholder="Stad" required>
            </div>
            <label class="kot__add__label" for="">Totale prijs</label>
            <input type="text" class="kot__total-price__input" placeholder="Totale Prijs" required>
            <label class="kot__add__label" for="">Type</label>
            <input type="text" class="kot__type__input" placeholder="Type" required>
            <label class="kot__add__label" for="">Status</label>
            <input type="text" class="kot__status__input" placeholder="Status" required>
            <label class="kot__add__label" for="">Waarborg</label>
            <input type="text" class="kot__warranty__input" placeholder="Waarborg" required>
            <label class="kot__add__label" for="">Verdieping</label>
            <input type="text" class="kot__floor__input" placeholder="Verdieping" required>
            <label class="kot__add__label" for="">Toilet?</label>
            <input type="text" class="kot__has-toilet__input" placeholder="Toilet aanwezig?" required>
            <label class="kot__add__label" for="">Keuken?</label>
            <input type="text" class="kot__has-kitchen__input" placeholder="Keuken aanwezig?" required>
            <label class="kot__add__label" for="">Douche?</label>
            <input type="text" class="kot__has-shower__input" placeholder="Douche aanwezig?" required>
            <label class="kot__add__label" for="">Bemeubeld?</label>
            <input type="text" class="kot__has-furniture__input" placeholder="Bemeubeld?" required>
            <label class="kot__add__label" for="">Oppervlakte</label>
            <input type="text" class="kot__surface__input" placeholder="Oppervlakte" required>
            <input type="submit" class="kot__add__submit" placeholder="Toevoegen">
        </form>
    </div>
</div>