{{> header-nav }}
<div class="page home">
    <h1>Hello, {{user}}!</h1>
    <div class="body">
        <h4>Kotbaas Home</h4>
        <br>
        <nav>
            <a href="/about" data-path>About</a><br />
            <a href="/firebase" data-path>Firebase</a><br />
            <a href="/mapbox" data-path>Mapbox</a><br />
            <a href="/404" data-path>404</a>
        </nav>
    </div>
</div>