{{> header }}
<div class="page list">
  <h1>{{title}}</h1>
  <div class="body">
    {{#if loading}}
      Loading data, please wait...
    {{else}}
    <ul>
      {{#each posts}}
        <li>{{this.title}}</li>
      {{/each}}
    </ul>
    {{/if}}
    Go to <a href="/" data-path>Home page</a>
  </div>
</div>
{{> footer }}