<div class="container_scroll">
    {{#if kotbaas}}
    {{> header-nav-kotbaas}}
    {{else}}
    {{> header-nav-student}}
    {{/if}}
    <div class="container__page messages__container">
        <h1 class="title message__title">Berichten</h1>
        <div class="messages">
        </div>
        <select class="messages__dropdown__choose-receiver" name="" id="">

        </select>
        <div class="new-message">
            <button class="btn btn__new-message__toggle">
                <ion-icon name="create" size="large"></ion-icon>
            </button>
            <form class="message__form hidden">
                <input type="textarea" class="new-message__input">
                <button type="submit" class="btn btn__new-message__send">
                    <ion-icon name="send" size="large"></ion-icon>
                </button>
            </form>
        </div>
    </div>
</div>