<div class="container">
    {{#if kotbaas}}
    {{> header-nav-kotbaas}}
    {{else}}
    {{> header-nav-student}}
    {{/if}}
    <div class="container__page messages__container">
        <h1 class="message"></h1>
        {{#each messages}}
        {{/each}}
        <a href="/new-message">New message</a>
    </div>
</div>