<div class="container">
  {{#if kotbaas}}
  {{> header-nav-kotbaas}}
  {{else}}
  {{> header-nav-student}}
  {{/if}}
  <div class="koten-kaart__container page__container">
    <div id="map"></div>
  </div>
</div>