<div class="container">
  {{> header-info }}
  <div class="header__background_cirlce"></div>
  <div class="container__page home__container">
    <h1 class="home__greeting">
      Welcome,<br>
      {{#if user}}{{user}}
      {{else}}student
      {{/if}}.
      <ion-icon name="school" size="large"></ion-icon>
    </h1>
    <button class="btn btn__sign-out">
      <ion-icon name="log-out" size="large"></ion-icon>
    </button>
    <p class="home__info">
      What would you <br>like to do?
    </p>
    <nav class="home__nav">
      <a href="">
        <ion-icon name="star" size="large"></ion-icon>
        Favorieten
      </a>
      <a class="home__nav__btn" href="mapbox" data-navigo>
        <ion-icon name="pin" size="large"></ion-icon>
        Kotenkaart
      </a>
      <a class="home__nav__btn " href="">
        <ion-icon name="text" size="large"></ion-icon>
        Berichten
      </a>
      <a class="home__nav__btn" href="zoek-kot" data-navigo>
        <ion-icon name="search" size="large"></ion-icon>
        Koten
      </a>
    </nav>
    <br>
    <a class="home__nav__btn" href="404" data-navigo>404</a>
    <br>
    <a class="home__nav__btn" href="about" data-navigo>About</a>
    <br>
    <a class="home__nav__btn" href="firebase" data-navigo>Firebase</a>
    <br>
  </div>
</div>