<div class="container">
  {{> header-nav }}
  <div class="header__background_cirlce"></div>
  <div class="home__container">
    <h1 class="home__greeting">
      Welcome,<br> {{user}}.
      <ion-icon name="school" size="large"></ion-icon>
    </h1>
    <p class="home__info">
      What would you <br>like to do?
    </p>
    <nav class="home__nav">
      <a href="/about" data-path>About</a><br />
      <a href="/firebase" data-path>Firebase</a><br />
      <a href="/mapbox" data-path>Mapbox</a><br />
      <a href="/404" data-path>404</a><br>
      <a href="/zoek-kot" data-path>ZOEK EEN KOT</a>
    </nav>
  </div>
</div>