{{> header-nav }}
<div class="container">
  <h1>Zoek een kot</h1>
  <div class="zoek-kot__koten"></div>
  <div class="body">
    This is the zoek-kot page.<br>
    Go to <a href="/home" data-path>Home page</a>
  </div>
</div>
{{> footer }}