// VENDOR CSS
@import ./vendor/vendor

// BASE - global variables & mixins
@import ./base/base

// COMPONENTS - buttons, cards, reusables
@import ./component/component

// PARTIALS - partial-specific css
@import ./partial/partial

// PAGES - page-specific css
@import ./page/page


// GLOBAL CSS (+ Mediaqueries)
*
    margin: 0
    padding: 0
    &:focus
      outline:none !important

body
    font-size: 12px
    font-family: $font__main
    #app
    #map
        position: relative
        left: 0
        top: 1rem
        width: 100%
        height: 100vh
        f
    ::placeholder
      color: $color5
      opacity: 1

ion-icon 

  margin: auto
  pointer-events: none

input:required

  box-shadow: none

.container

  position: fixed
  width: 100vw
  height: 100vh
  overflow: hidden

//  ##Device = Desktops
//  ##Screen = 1281px to higher resolution desktops

@media (min-width: 1281px)
  //CSS

//  ##Device = Laptops, Desktops
//  ##Screen = B/w 1025px to 1280px
    

@media (min-width: 1025px) and (max-width: 1280px)
  //CSS

//  ##Device = Tablets, Ipads (portrait)
//  ##Screen = B/w 768px to 1024px

@media (min-width: 768px) and (max-width: 1024px)
  //CSS


//  ##Device = Tablets, Ipads (landscape)
//  ##Screen = B/w 768px to 1024px

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
  //CSS

//  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px

@media (min-width: 481px) and (max-width: 767px)
  //CSS
//  ##Device = Most of the Smartphones Mobiles (Portrait)
//  ##Screen = B/w 320px to 479px

@media (min-width: 320px) and (max-width: 480px)
  body
    font-size: 10px
  //CSS