@import url('https://fonts.googleapis.com/css?family=Poppins:700');
@import url('https://rsms.me/inter/inter.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

html {
  font-family: var(--font-body);
  text-size-adjust: auto;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: var(--font-body-var);
  }
}

.app-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: #f00;
}

:root {
  --color-1: rgba(5, 102, 141, 1);
  --color-2: rgba(250, 114, 104, 1);
  --color-3: rgba(0, 168, 150, 1);
  --color-4: rgba(2, 195, 154, 1);
  --color-5: rgba(240, 243, 189, 1);

  /* gradients */
  --gradient-light: linear-gradient(
    45deg,
    var(--color-4) 0%,
    var(--color-5) 85%,
    #fff 100%
  );

  /* typography */
  --font-heading: 'Poppins';
  --font-body: 'Inter';
  --font-body-var: 'Inter var';
  --font-size-xl: 2.62rem;
  --font-size-lg: 1.62rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.62rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
