@import url('https://fonts.googleapis.com/css?family=Poppins:700');
@import url('https://rsms.me/inter/inter.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: var(--font-body);
  text-size-adjust: auto;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: var(--font-body-var);
  }
}

:root {
  --color-1: rgba(5, 102, 141, 1);
  --color-2: rgba(250, 114, 104, 1);
  --color-3: rgba(0, 168, 150, 1);
  --color-4: rgba(2, 195, 154, 1);
  --color-5: rgba(240, 243, 189, 1);

  /* gradients */
  --gradient-light: linear-gradient(45deg, var(--color-4) 0%, var(--color-5) 85%, #fff 100%);

  /* typography */
  --font-heading: 'Poppins';
  --font-body: 'Inter';
  --font-body-var: 'Inter var';
  --font-size-xl: 2.62rem;
  --font-size-lg: 1.62rem;
  --font-size-md: 1rem;
  --font-size-sm: 0.62rem;
}

.app-loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: #fff;
}

.app-loader {
  width: 5rem;
  height: 5rem;
  background: var(--gradient-light);
  border-radius: 50%;
  animation: fadeOut 300ms cubic-bezier(0.2, 0.2, 0.2, 0.5);
}

.app-loader:after {
  content: '';
  background: transparent;
  width: 6rem;
  height: 6rem;
  margin-left: -0.5rem;
  margin-top: -0.5rem;
  position: absolute;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) -6px -7px 6px -6px;
  animation: rotate 300ms infinite cubic-bezier(0.5, 0.2, 0.2, 0.5);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
