<header class="header header__info">
    <div class="header__item-group">
        <div class="header__item">
            <a class="header__logo" href="/home" data-navigo>
                <img src="/images/rent-in-gent.svg">
            </a>
        </div>
        <div class="header__item">
            <ion-icon class="header__button__info" name="information-circle" size="large"></ion-icon>
        </div>
    </div>
</header>