<header class="header header__navigation">
    <div class="header__item-group">
        <a class="btn__corner header__item header__item__home" href="/home" data-navigo>
            <ion-icon name="home" size="large"></ion-icon>
        </a>
    </div>
    <div class="header__item-group">
        <a class="header__item" href="/zoek-kot" data-navigo>
            <ion-icon name="search" size="large"></ion-icon>
        </a>
        <a class="header__item" href="/favorites" data-navigo>
            <ion-icon name="star" size="large"></ion-icon>
        </a>
        <a class="header__item" href="/messages" data-navigo>
            <ion-icon name="text" size="large"></ion-icon>
        </a>
        <a class="header__item" href="/mapbox" data-navigo>
            <ion-icon name="pin" size="large"></ion-icon>
        </a>
    </div>
</header>