<header class="header header__info">
    <h2 class="header__logo">Logo</h2>
    <div>
        <ion-icon class="header__button header__button__info" name="information-circle" size="large"></ion-icon>
    </div>
</header>