<header class="header header__navigation">
    <div>
        <ion-icon name="home" size="large"></ion-icon>
    </div>
    <nav class="header__navigation__links">
        <a href="">
            <ion-icon></ion-icon>
        </a>
        <a href="">2</a>
        <a href="">3</a>
        <a href="">4</a>
    </nav>
    <div>
        <ion-icon name="information-circle" size="large"></ion-icon>
    </div>
    {{!-- <div class="sign-out">
        <button class="" type="submit">
            <ion-icon class="" name="log-out" size="large" href="/" data-path></ion-icon>
        </button>
    </div> --}}
</header>