<header class="header">
    <h2>{{title}}</h2>
    <div class="sign-out">
        <button class="" type="submit">
            <ion-icon class="" name="log-out" size="large" href="/" data-path></ion-icon>
        </button>
    </div>
</header>