.error

    margin: 10rem auto
    background: $gradient__regular
    width: 10rem
    height: 10rem
    border-radius: 50%
    color: $color__w
    @include animation__float

.title__404

    font-size: 5rem
    text-align: center

    &__message

        color: $color__secondary_dark
        width: 10rem

        &_small

            font-size: $font-size__sm
            color: $color__secondary_dark


    &__link

        @include clickable