.home__header

    @include flex-row

.home__info

    width: 100%
    padding: .5rem 0
    box-sizing: border-box
    font-family: $font__title
    font-size: $font-size__md
    color: $color2
    line-height: 1.5rem

.home__options

    display: flex
    flex-direction: column
    margin: 5rem 0

.btn__sign-out

    background: $color__warning
    color: $color__w

.btn__settings

    background: $color4
    color: $color__w

.home__nav

    display: grid
    grid-template-columns: repeat(2, 5rem)
    grid-gap: 1rem
    align-items: center
    margin: auto
    width: 100%
    min-height: 12rem

    &__item

        width: 5rem
        height: 5rem
        background: $gradient__regular
        border-radius: 100%
    
        &:hover

            @include animation__float

    &__link

        display: flex
        position: relative
        justify-content: center
        align-items: center
        height: 100%
        color: $color__secondary_dark
        text-decoration: none

        ion-icon

            position: relative
            float: right
            left: 50%
            top: -50%
            transform: translate(-.5rem, .5rem)
            border-radius: 100%
            padding: .25rem
            background: $color__w
            box-shadow: $shadow__button--strong

        &-text

            position: absolute
            top: 35%
            line-height: 100%
            text-align: center
            color: $color__w
            font-size: $font-size__sm
            transition: .3s all ease

            &:hover

                font-size: $font-size__md
                color: $color__secondary_dark

@media (min-width: 768px)

    .home__nav

        display: flex
        flex-direction: row
        width: 100%
        justify-content: space-between

        &__item

            justify-content: space-between
            width: 7rem
            height: 7rem

        &__link > ion-icon

            padding: .5rem

        &__link-text

            font-size: $font-size__md