.container_dark

    z-index: 1
    position: relative
    background: $gradient__dark_i
    color: $color__w

.kot-details__container

.btn__details__add-to-favourites

    position: absolute
    top: 3rem
    left: 3rem
    background: $gradient__regular
    color: $color__w

.btn__details__share-fb

    z-index: 10
    position: absolute
    top: 3rem
    left: 6.5rem
    background: $color__w
    color: $color__w
    width: 2rem
    height: 2rem
    position: absolute

    img

        width: 100%
    
.btn__details__close

    background: $gradient__light

.kot-details

    display: flex
    flex-direction: column
    margin: 2rem 0
    padding: 2rem
    line-height: 1.5rem
    max-width: 

    &__header

        color: $color5
        margin-bottom: 2rem

.title__details

    margin-bottom: 1rem
    color: $color5

@media (min-width: 768px)

    .kot-details

        line-height: 2rem
        margin: 2rem 0
        padding: 2rem