.swipe-kot__container

    @include flex-column-center
    align-items: center

.btn__swipe-kot__like

    background: $gradient__light
    color: $color__w

.btn__swipe-kot__dislike

    background: $color__warning
    color: $color__w

.swipe-kot__evaluation

    position: relative
    bottom: -10.5rem
    left: 6rem

