.swipe-kot__container

    @include flex-column-center
    align-items: center

.btn__swipe-kot__like

    background: $gradient__light
    color: $color__w

.btn__swipe-kot__dislike

    background: $color__warning
    color: $color__w


