.header__bg

    z-index: 10
    position: fixed
    left: 0
    top: 0
    width: 100%
    background: $color__w
    height: 5rem
    box-sizing: border-box
    padding: .5rem 2rem

    
.zoek-kot__container

    z-index: 1
    position: relative

.zoek-kot__options

    z-index: 100
    position: fixed
    left: 0
    display: flex
    flex-direction: column
    padding: 0 2rem
    align-items: center
    box-sizing: border-box
    width: 100%
    height: auto
    border-radius: 0 0 2rem 2rem
    background: $color__w
    box-shadow: $shadow__inner
    color: $color__secondary_dark

    .zoek-kot__option

        height: 100%
        width: 15rem

    .zoek-kot__search

        position: relative

        .zoek-kot__search-toggle

            z-index: -1
            color: $color__secondary_dark
            @include animation__glow
            
        &-box

            z-index: 101
            position: absolute
            left: 0
            top: 0
            background: none
            border: none
            width: 2rem
            height: 2rem
            padding: 0 2rem
            font-size: $font-size__md
            font-family: $font__title
            line-height: 1rem
            transition: width 1s ease

            &:hover

                @include clickable

                &:focus

                    cursor: text
            
            &:focus

                width: 100%
                height: 2rem
                color: $color__secondary_dark
                border-bottom: .125rem solid $color__secondary_dark
                padding: 0 2rem
                box-sizing: border-box

.btn__toggle-search-interface

    width: 10rem
    background: rgba($color__secondary_dark, .8)
    border-radius: 1.5rem
    color: $color__w

.kot

    display: flex
    flex-direction: column
    flex-wrap: wrap
    padding: 1rem
    background: $color__w
    color: $color__secondary_dark
    box-shadow: $shadow__inner
    height: 30rem
    margin: 2rem 0
    width: 100%
    max-width: 20rem
    margin-top: 2rem
    border-radius: 1rem

    &__header
        
        @include flex-column
        padding: 1rem
        margin: -1rem
        position: relative
        box-sizing: border-box
        border-radius: 1rem 1rem 0 0
        height: 7rem
        margin-bottom: 1rem
        background: $gradient__regular
        color: $color__w
    
    &__name

        margin-bottom: .5rem

    &__address
    
    &__total-price

        margin: 1rem 0


    &__btn-group

        position: relative
        bottom: -16.5rem

    &__btn__add-to-favourites

        background: $gradient__light
        color: $color__w

    &__btn__more-details

        background: $color__w

.kot__details

    visibility: hidden
    z-index: 100
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    border: none
    background: $gradient__dark


@media (min-width: 768px)

    .zoek-kot__options

        z-index: 100
        position: fixed
        left: 0
        display: flex
        flex-direction: row
        justify-content: space-between
        padding: 0 2rem
        align-items: center
        box-sizing: border-box
        width: 100%
        height: 3rem
        border-radius: 0 0 2rem 2rem
        background: $color__w
        box-shadow: $shadow__inner
        color: $color__secondary_dark

    .zoek-kot__option

        height: 100%
        min-width: 10rem

