@import "404"
@import "auth"
@import "home"
@import "zoek-kot"
@import "koten-kaart"
@import "swipe-view"
@import "kot-toevoegen"
@import "messages"
@import "settings"
@import "kot-details"
@import "favourites"

.container__page

    position: relative
    margin: auto
    top: 0
    left: 0
    padding: 5rem 2rem 0rem 2rem
    max-width: 62vw
    margin-bottom: 10rem
