@import "404"
@import "about"
@import "auth"
@import "home"
@import "zoek-kot"

.container__page

    @include flex-column
    top: 0
    left: 0
    padding: 1rem 0
    margin: 5rem 1rem
    border: 1px solid yellow
